$grey: rgb(60, 60, 60);
$grey-light: rgba(60, 60, 60, .3);

*, html {
    box-sizing: border-box;
    color: $grey;
}

html {
    height: 100%;
}

body {
    font-family: monospace;
    margin: 0px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    height: 100%;
    width: 100%;
}

input, textarea {
    border-radius: 5px;
    border: 1px solid $grey-light;
    height: 30px;
    padding-left: 5px;
}

textarea {
    height: auto;
}

button {
    height: 30px;
    background-color: $grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: monospace;
}

a.button {
    background-color: $grey;
    height: 30px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 9px;
    text-decoration: none;
}

#flashed_messages {

}

#navigation {
    width: 100%;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid $grey;
    padding-bottom: 2vh;

    ul {
        padding: 0px;
        margin: 0px;

        li {
            display: inline-block;
            margin-right: 2%;
            margin-left: 2%;

            a {
                padding: 2%;
                font-size: 25px;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}

#content {
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: calc(100% - 70px);
    overflow: auto;

    form {
        display: inline-block;

        input, button {
            width: 100%;
            display: block;
            margin-top: 10px;
        }
    }

    .login-box {
        form {
            width: 20%;
            min-width: 200px;
            display: inline-block;

            input, button {
                width: 100%;
                display: block;
                margin-top: 10px;
            }

            input {
                font-family: monospace;
            }
        }

        h1 {
            font-size: 25px;
        }

        .login-bottom {
            margin-top: 10px;
        }
    }

    #create_user_view {
        p {
            font-size: 14px;
        }
    }

    #reset_password_view {

    }

    #raffles {
        #raffle_list {
            text-align: center;
            margin-top: 20px;

            .raffles-list {
                display: inline-block;
            }
        }

        table {
            width: 100%;
            text-align: left;
            padding: 0px;
            cursor: pointer;

            .description {
                padding-left: 10px;
            }

            .max-winners {
                text-align: center;
            }

            .delete {
                text-align: right;
            }
        }

        .new-raffle {
            height: 30px;
            text-align: center;

            >div {
                text-align: right;
                display: inline-block;
                padding-right: 3px;
            }

            a {
                display: inline-block;
            }
        }
    }

    #create_raffle_view {
        form {

        }
    }

    #raffle {
        text-align: center;

        .header {
            display: inline-block;

            input {
                font-family: monospace;
            }

            .raffle-name-input {
                display: block;
                border: none;
                font-size: 25px;
                font-weight: bold;
                padding: 0px;
            }

            .raffle-description-input {
                margin-top: 20px;
                display: block;
                border: none;
                font-size: 16px;
                resize: none;
                padding: 0px;
            }

            >div {
                margin-top: 20px;
            }
        }

        .controls {
            line-height: 30px;
            margin-top: 20px;

            .winner-button {
                display: inline-block;
            }
        }

        .contestants {
            margin-top: 20px;

            .contestants-list {
                .new-contestant {
                    margin-bottom: 10px;
                }

                .new-contestant,
                .contestant-list-entry {
                    height: 30px;
                    width: 100%;
                    max-width: 500px;
                    margin-left: auto;
                    margin-right: auto;
                }

                .contestant-list-entry {
                    margin-top: 5px;
                }

                #contestant_tickets_input,
                .contestant-tickets {
                    margin-left: 5px;
                    margin-right: 5px;
                }

                .contestant-name {
                    width: calc(100% - 80px - 60px - 20px);
                }

                .contestant-tickets {
                    width: 60px;
                }

                button, input {
                    display: inline-block;
                    vertical-align: middle;
                }

                button {
                    width: 80px;
                }

                input {
                    height: 30px;
                }
            }
        }
    }

    #winners {
        height: 100%;
        width: 100%;
        text-align: center;

        .winners-block {
            width: 100%;
            height: 100%;
        }

        #winner_controls {
            height: 30px;
            button {
                margin-right: 5px;
                margin-left: 5px;
            }
        }

        #drawing_container {
            max-height: 200px;
            display: inline-block;
            margin-top: 20px;
            display: inline-grid;
            grid-column-gap: 10px;
            grid-row-gap: 10px;

            .winner-entry {
                font-size: 16px;
                border: 1px solid $grey;
                border-radius: 10px;
                padding: 10px;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
            }
        }

        #bucket {
            width: 100px;
            height: 150px;
            background-color: black;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }
    }
}

#footer {
    text-align: center;
    border-top: 1px solid $grey;
    height: 30px;
    padding-top: 10px;

    p {
        margin: 0px;
    }
}

// @media only screen and (max-width: 300px) {
//     #content {
//         #raffle {
//             .header {
//                 width: 100%;
//             }
//         }
//     }
// }
