* {
  box-sizing: border-box;
}

:root {
  --color-primary: #36a5ff;
  --color-secondary: #ffc421;
  --color-secondary-opaque: rgba(255, 296, 33, 0.1);
  --color-grey-light: #ebebeb;
  --color-grey: #bfbfbf;
  --color-grey-dark: #5c5c5c;
  --color-black: #000;
  --color-white: #fff;
  --color-red: #f00;
}

html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Comic Neue', cursive;
}

body {
  position: relative;
  font-size: 16px;
  padding: 10px;
}

button {
  border: none;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  font-weight: bold;
  font-family: 'Comic Neue', cursive;
  font-size: 1.1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
}

button[disabled] {
  opacity: 0.3;
}

button:active,
button:hover {
  outline: none;
}

input {
  border: none;
  background-color: var(--color-secondary-opaque);
  color: var(--color-primary);
  border-radius: 5px;
  padding: 5px;
  font-family: 'Comic Neue', cursive;
}
